@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android' ;
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android: 'Android',cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:var(--cor01);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\1f517';

}

header{
    background-image:linear-gradient(to bottom, var(--cor04), var(--cor06));
    min-height: 150px;
    text-align: center;
    padding-top: 35px;
}

header > h1{
    color:white;
    font-family: var(--fonte-destaque);
    font-size: 2.7em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.373) ;


}

header > p{
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.345) ;
}

nav{

    background-color: var(--cor06);
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.401);
}

nav > a{
    color: var(--cor01);
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
    transition-duration: 0.6s;
}

nav > a:hover{
    color:var(--cor03) ;
    background-color: var(--cor05);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.462);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color:var(--cor06);
    font-family: var(--fonte-android)
}

main h2{
    color:var(--cor05);
    font-family: var(--fonte-android);
    font-size: 1.2em;
    background-image:linear-gradient(to right, var(--cor02), transparent);
    text-indent: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height:2.1em ;
}

main strong{
    color:var(--cor06);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor06);
    background-color: var(--cor02);
    padding: 3px;
    border-radius: 3px;
}

main a:hover{
    color:var(--cor04);
    text-decoration: underline;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 300px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor05);
    margin:0px -20px 30px -20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position:absolute;
    top: 5%;
    left: 5% ;
    width:90% ;
    height:90% ;
}

aside{
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.252);
}
aside > ul{
    list-style-type:'\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

aside > h3{
    background-color: var(--cor05);
    color: white;
    padding: 6px;
    margin: -10px -10px 0px -10px;
    border-radius:10px 10px 0px 0px;
}

footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8em;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor02);
}